<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
<!--	<link href="css/bootstrap.css" rel="stylesheet" /> 
	<link href="css/bootstrap-theme.css" rel="stylesheet" />
-->
	<link href="css/createAssignment.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery.js"></script>

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->


	<script src="js/modernizr.js"></script> <!-- Modernizr -->
  	<script src"/js/date.js"></script>

	<title>StudyTime</title>
</head>
<body>
	<header class="cd-main-header">
<!--		<a href="mainCalendar" class="cd-logo">StudyTime</a> -->

		<a href="#0" class="cd-nav-trigger">Menu<span></span></a>

	</header> <!-- .cd-main-header -->

	<main class="cd-main-content">
		<nav class="cd-side-nav">
			<!--	<li class="cd-label"></li> -->
				<li class="btn btn-default">
					<a href="mainCalendar">Main Calendar</a>
				</li>

				<li class="btn btn-default">
					<a href="assignmentlist">Assignment List</a>
				</li>

				<li class="btn btn-default">
					<a href="createAssignment">Create an Assignment</a>
				</li>

				<li class="btn btn-default">
					<a href="help">Help</a>			
				</li>

				<li class="btn btn-default">
					<a href="/">Sign Out</a>
				</li>
		</nav>

		<!-- Code for Create Assignment page goes here -->
		<div class="content-wrapper" id="inputInfo">
			<h1>Create Assignment</h1>
			<div class="middle">
				<br>
				<div id="required">
					<h3> * required field </h3>
				</div>
				<form id="addAssignemntForm" role="form" method="post" action="/">
					<div class="form-group">
						<label for="class">* Class:<br></label>
						<input type="text" class="form control" placeholder="Type class name" id="class" name="class">
					</div>
					<div class="form-group">
						<label for="name">* Assignment Name:<br></label>
						<input type="text" class="form control" placeholder="Type assignment name" id="name" name="name">
					</div>
					<div class="form-group">
						<label for="due-date">* Due Date:<br></label>
						<input type="text" class="form control" id="due_date" placeholder="mm/dd/yyyy" name="due_date">
					</div>
				</form>
				
				<div>
					<h3 class="sections">Assignment Sections (optional):</h3>
					{{#each sections}}
						<div>
							<p>{{section_name}}</p>
							<p>Estimated Time:{{section_time}}</p>
						</div>
						<br>
<!--
						<script type="text/javascript">
							console.log("{{section_name}}")
						</script>-->
					{{/each}}
				<div> 
				<br>
				<form id="addSectionForm" role="form" method="post" action="/add">
					<fieldset>
					<p>
					</p>
					<div class="form-group">
						<label for="section_name">Add Section Name:<br></label>
						<input type="text" class="form-control" id="section_name" placeholder="Section Name" name="section_name">
					</div>
					<div class="form-group">
						<label for="section_time">Time(hours) to Complete Section:<br></label>
						<input type="text" class="form-control" id="section_time" placeholder="Time to Complete" name="section_time"> 
					</div>    
					<input type="submit" id="submitBtn" class="btn btn-default" value="Add the section"></input>
					</fieldset>
				</form>

				<br>
				<pre id="content"></pre>

				<div class="createTimeline">
		<!--		<center><a href="listView" id="create"><button>Create Assignment Timeline</button></a>    -->

					<center><a href= "listview/{{newIndex}}/true" style="color:black" class="button" id="{{newIndex}}">Create Assignment Timeline</a>

					<!--<center><a href= "listView" class="button" id="{{newIndex}}">Create Assignment Timeline</a>-->
				</div>
			</div>
		</div> <!-- .content-wrapper -->
	</main> <!-- .cd-main-content -->
<script src="js/jquery-2.1.4.js"></script>
<!--<script src="js/jquery.menu-aim.js"></script>-->
<script src="js/jquery-1.11.0.js"></script>
<script src="js/bootstrap.js"></script>
<!--<script src="js/hci-friends.js"></script>-->
<script src="js/createAssignment.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
{{> ga}}

<!--
<script async defer src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()"> </script> -->
      <!--
	<script async defer src="https://apis.google.com/js/api.js"
	onload="this.onload=function(){};initializePage()"
	onreadystatechange="if (this.readyState === 'complete') this.onload()"> 
	</script> -->
</body>
</html> 

