<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>

<!--	<link rel="stylesheet" href="css/reset.css">--> <!-- CSS reset -->
	<link rel="stylesheet" href="../css/style.css"> <!-- Resource style -->
	<script src="../js/modernizr.js"></script> <!-- Modernizr -->

	<!-- link css -->
		<link href="../css/listview.css" rel = "stylesheet">
       <script src="js/assignmentlist.js"></script>

  	
	<title>StudyTime</title>
</head>
<body>
	<header class="cd-main-header">
<!--		<a href="#0" class="cd-logo"><img src="../images/cd-logo.svg" alt="Left-hand logo CHANGE"></a>  -->

		<a href="#0" class="cd-nav-trigger">Menu<span></span></a>

	</header> <!-- .cd-main-header -->

	<main class="cd-main-content">
		<nav class="cd-side-nav">
			<!--	<li class="cd-label"></li> -->
				<li class="profileName"> 
					<a href="#0">Profile Name</a>
				</li>

				<li class="btn btn-default">
					<a href="../mainCalendar">Main Calendar</a>
				</li>

				<li class="btn btn-default">
					<a href="../assignmentlist">Assignment List</a>
				</li>

				<li class="btn btn-default">
			
					<a href="../createAssignment">Create an Assignment</a>
				</li>

				<li class="btn btn-default">
					<a href="../help">Help</a>			
				</li>

				<li class="btn btn-default">
					<a href="/">Sign Out</a>
				</li>
		</nav>

		<!-- code for Assignment Timeline List View goes here -->
		<div class="content-wrapper">

			<div class"section-title">
			<h1>Assignment List View</h1>
	        <br>
			<div>
        

        <div class ="assignmentName">	
        <center><a href="#0"><id="assignmentName1">
	    {{name}}</a>
<!--	    <a href="../createAssignment" class="button" id="mainEditButton">Edit</a>  -->
        </div>

        <div class="stepsList">
        <form>
		<ul>
        {{#each sections}}
            <li>
            	<input type = "checkbox" id="stepsCheckboxes" name="stepsCheckboxes" checked>
		    <a href="#0"><id="Assignment1">{{section_name}}:  {{section_time}}</a>
<!--		    <a href="../createAssignment" class="button" id="individualEditCheckpoint">Edit CkPt</a></li> --><!--supposed to be link to mini calendar, instead of createAssignment--> 
		{{/each}}
		</ul>
	   </form>
		</div>	
		<br>

		<div class ="ATCalendarView">
                <center><a href="../calendarView/{{id}}" class="button" id="calendarViewButton">Assignment Timeline Calendar View</a>
		</div>
        <br> 
		
		<div class ="dueDate">
			<center><a href="#0"><id="dueDateWhole">Due Date: {{due_date}}</a>
	    </div>

	    <div class = "assignmentClass">
	    	<center><a href="#0"><id="classWhole">Class: {{class}}</a>
	    </div>


		</div> <!-- .content-wrapper -->
	</main> <!-- .cd-main-content -->

<script src="../js/jquery-2.1.4.js"></script>
<!--<script src="../js/jquery.menu-aim.js"></script>-->
<script src="../js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>