<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>

<!--	<link rel="stylesheet" href="css/reset.css">--> <!-- CSS reset -->
	<link rel="stylesheet" href="../../css/style.css"> <!-- Resource style -->
	<script src="../../js/modernizr.js"></script> <!-- Modernizr -->

	<!-- link css -->

		<link href="../../css/listview.css" rel = "stylesheet">

	<title>StudyTime</title>
</head>
<body>
	<header class="cd-main-header">
		<a href="../../mainCalendar" class="cd-logo" style="color:powderblue">StudyTime</a> 

		<a href="#0" class="cd-nav-trigger">Menu<span></span></a>

	</header> <!-- .cd-main-header -->

	<main class="cd-main-content">
		<nav class="cd-side-nav">
			<!--	<li class="cd-label"></li> -->

				<li class="btn btn-default">
					<a href="../../mainCalendar">Main Calendar</a>
				</li>

				<li class="btn btn-default">
					<a href="../../assignmentlist">Assignment List</a>
				</li>

				<li class="btn btn-default">
			
					<a href="../../createAssignment">Create an Assignment</a>
				</li>

				<li class="btn btn-default">
					<a href="../../help">Help</a>			
				</li>

				<li class="btn btn-default">
					<a href="/">Sign Out</a>
				</li>
		</nav>

		<!-- code for Assignment Timeline List View goes here -->
		<div class="content-wrapper">

			<div class"section-title">
			<h1>Assignment Timeline</h1>
	        <br>
			</div>
        <div class ="assignmentName">	
        <center><div id="GETTHISNAME">{{name}}</div>
<!--	    <a href="../createAssignment" class="button" id="mainEditButton">Edit</a>  -->
        </div>

        <div class="stepsList">
        <form>
		<ul> 
        {{#each sections}} 
            <li>

            	<input type = "checkbox" class="stepsCheckboxes" id="{{../id}}{{@index}}">{{section_name}}:<br>
	            &nbsp;&nbsp;&nbsp;&ensp; {{section_time}}
	            
            </li>

		{{/each}}
	</div>

      	<div class ="ATCalendarView"> 
            
                <center><a href="../../calendarView/{{id}}">
                	<input type= "button" id="SaveSubmitButton" value="Assignment Timeline Calendar View">
                </a>
		</div>
        <br> 
		
		<div class ="dueDate">
			<center><a href="#0"><div id="dueDateWhole">Due Date: <div id="specificDueDate">{{due_date}}</div></div></a>
	    </div>

	    <div class = "assignmentClass">
	    	<center><a href="#0"><id="classWhole">Class: <div id = "specificClass">{{class}}</div></a>
	    </div>

	    <div class="assignmentID" id = "hiddenClasses" style="display:none">{{id}}</div>
	    <div class="assignmentSections" id ="hiddenClasses" style="display:none">{{sections}}</div>
	    <div class="dataAllCalendars" id = "hiddenClasses" style="display:none">{{dataAllCalendars}}</div>
	    <div class="dataCalendarInfo" id = "hiddenClasses" style="display:none">{{dataCalendarInfo}}</div>
	    {{#each sections}}
	    <div class="sectionNameInsert" id = "hiddenClasses" style="display:none" name="{{section_name}}">{{section_name}},</div>
	    <div class="sectionTimeInsert" id = "hiddenClasses" style="display:none" name="{{section_time}}">{{section_time}},</div>
	    {{/each}}

		</div> <!-- .content-wrapper -->
	</main> <!-- .cd-main-content -->

<script src="../../js/jquery-2.1.4.js"></script>
<script src="../../js/main.js"></script> <!-- Resource jQuery -->
<script src="../../js/assignmentList.js"></script>
<script src="../../js/listview.js"></script>

{{#if isnew}}

      <script async defer src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()"> </script>

{{/if}}

{{> ga}}

</body>
</html>